@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}



/* slide 0 */
.slide-0{
    background-image: url(/assets/Zona_picnic_Can_Mas.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}


/* slide 1 */
.slide-1{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

/* slide 1  cartes*/
.card-box{
    display: flex;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 20px;
    margin: 20px;
    width: 230px;
    height: 350px;
    text-align: center;
    margin-top: 100px;
}

.card img {
    margin-top: 30px;
    width: 60%;
}

.card h2 {
    margin-top: 50px;
    color: #333333;
    font-size: 30px;
}

.card p {
    color: #666666;
    font-size: 14px;
    line-height: 1.4;
}

.card:hover{
    padding: 50px;
    margin: 50px;
    width: 250px;
    transition: 1s;
}

.card::after{
    padding: 20px;
    margin: 20px;
    width: 230px;
    transition: 1s;
}
/* slide2 */
.slide-2{
    width: 100vw;
    height: 140vh;
    background-color: rgb(255, 255, 255);
    margin-top: 8%;
}  

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    width: 60%;
    margin: 0 auto;
  }
  
  .grid-item {
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 211, 167);
  }
  
  
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  .grid-item p {
    text-align: center;
  }


  /* slide 3 */

.slide-3{
    width: 100vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.container {
    display: flex;
    align-items: center;
}
.container h1 {
    margin-right: 70px;
    margin-left: 180px;
}